<!DOCTYPE HTML>
{% extends "base.html" %}
{% block title %}Index Page{% endblock%}

{% block content %}
<!-- Header -->
<center>
  <head>
  <link rel="stylesheet" type="text/css" href="static/main.css" src="{{url_for('static', filename='main.css')}}">
  </head>
  <div class="header">
    <h2>Future Projections</h2>
  </div>
  <article class="thumb">
    <a href="static/01.jpg" class="image"><img src="{{url_for('static', filename='01.jpg')}}" alt="" /></a>
    <h2>Impact of your course of action</h2>
  </article>
  <body>
    <img src="{{ url_for('static', filename='sample.png') }}" alt="User Image">
    <div>

        <form action="{{ url_for('all')}}" method="POST">
            <label for="social_distance">Choose how restrictive your clinic is: </label>
            <select id="drop_down1" name="drop_down1">
            <option value=1>No Social Distancing</option>
            <option value=2>Minimal Social Distancing</option>
            <option value=7>Proper Social Distancing</option>
            </select>
            <p>Enter the number of facilities, average facility size, and hours of operation</p>
            <input type = "number" step="any" id = "add_num1" name = "add_num1" placeholder='Locations available' required><label> </label><br>
            <input type = "number" step="any" id = "add_num2" name = "add_num2" placeholder='Size of Facilities' required><label>  </label><br>
            <input type = "number" step="any" id = "add_num3" name = "add_num3" placeholder=' Hours Open' required><label> </label><br>
            <p>The actual social distancing protocol being enforced, 1 being not following the rules at all, 7 being really strict </p>
            <input type = "number" step="any" id = "add_num4" name = "add_num4" placeholder='Between 1 - 7' required><label>  </label><br>
            <input type = "number" step="any" id = "add_num5" name = "add_num5" placeholder='Normal Traffic' required><label>  </label><br>
            <input type = "submit" value = "Calculate impact" name = "submit" ><br>
        </form>
    </div>

  </body>
</center>
{% endblock %}
